@{
    /**/

    ViewBag.Title = "The Grapevine";
}
@using Microsoft.AspNet.Identity

@functions
{
    static string GetPrettyDate(DateTime d)
    {
        // 1.
        // Get time span elapsed since the date.
        TimeSpan s = DateTime.Now.Subtract(d);

        // 2.
        // Get total number of days elapsed.
        int dayDiff = (int)s.TotalDays;

        // 3.
        // Get total number of seconds elapsed.
        int secDiff = (int)s.TotalSeconds;

        // 4.
        // Don't allow out of range values.
        if (dayDiff < 0 || dayDiff >= 31)
        {
            return null;
        }

        // 5.
        // Handle same-day times.
        if (dayDiff == 0)
        {
            // A.
            // Less than one minute ago.
            if (secDiff < 60)
            {
                return "Just now";
            }
            // B.
            // Less than 2 minutes ago.
            if (secDiff < 120)
            {
                return "1 minute ago";
            }
            // C.
            // Less than one hour ago.
            if (secDiff < 3600)
            {
                return string.Format("{0} minutes ago",
                    Math.Floor((double)secDiff / 60));
            }
            // D.
            // Less than 2 hours ago.
            if (secDiff < 7200)
            {
                return "1 hour ago";
            }
            // E.
            // Less than one day ago.
            if (secDiff < 86400)
            {
                return string.Format("{0} hours ago",
                    Math.Floor((double)secDiff / 3600));
            }
        }
        // 6.
        // Handle previous days.
        if (dayDiff == 1)
        {
            return "Yesterday";
        }
        if (dayDiff < 7)
        {
            return string.Format("{0} days ago",
                dayDiff);
        }
        if (dayDiff < 31)
        {
            return string.Format("{0} weeks ago",
                Math.Ceiling((double)dayDiff / 7));
        }
        return null;
    }

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="topwrap">
    <div class="topbar">
        @if (@User.Identity.IsAuthenticated)
        {
            <p class="welcometext">Welcome, <span class="name">@User.Identity.Name </span> &#124 <a href="/Home/Logout">Logout</a></p>

        }
        @if (!@User.Identity.IsAuthenticated)
        {
            <div class="welcometext">
                <a href="/Home/Login">Login</a>
            </div>
        }

    </div>
    <div class="question-header">

        <h1>The Grapevine</h1>

        Have a work related question you've heard that you think needs answered? Submit it here. 
        <br />Please be sure to anonymise your questions.
        <form action="~/Home/Save" method="POST">
            <textarea type="text" placeholder="Enter your question here" name="questionText"></textarea> <br />
            <button type="submit" class="buttonNew btn-1 btn-1a submitButton" value="Submit">SUBMIT</button>
        </form>
    </div>
    <div class="botbar"></div>
</div>

@* Mod modal button *@
<a id="modBtn" class="float">
    <i class="fa fa-info my-float"></i>
</a>
<div class="label-container">
    <div class="label-text">Moderator Guidance</div>
</div>


@* General modal button *@
<a id="genBtn" class="float">
    <i class="fa fa-info my-float"></i>
</a>
<div class="label-container">
    <div class="label-text">General Guidance</div>
</div>


    <script type="text/javascript">

    @if (@User.IsInRole("Moderator"))
    {
        @: $("#genBtn").hide();
    }
    else
    {
        @: $("#modBtn").hide();

    }
    </script>


<!-- The Modal -->
<div id="modModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="modClose">&times;</span>
            <h2>Moderator Guidance</h2>
        </div>
        <div class="modal-body">
            <p>Insert moderator guidance text here</p>
            <p>Insert moderator guidance text here</p>
        </div>
    </div>

</div>

<!-- The Modal -->
<div id="genModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="genClose">&times;</span>
            <h2>General Guidance</h2>
        </div>
        <div class="modal-body">
            <p>Insert general guidance text here</p>
            <p>Insert general guidance text here</p>
        </div>
    </div>

</div>

<div class="cta filter" style="text-align: center;">

    @if ((@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
    {

        <a class="unmod filterButton buttonNew btn-1 btn-1a" data-filter="Submitted" role="button">Unmoderated</a>
        <a class="app filterButton buttonNew btn-1 btn-1a" data-filter="Approved" role="button">Approved</a>
        <a class="rej filterButton buttonNew btn-1 btn-1a" data-filter="Rejected" role="button">Rejected</a>
    }

    <a class="all filterButton buttonNew btn-1 btn-1a" data-filter="all" role="button">Show All</a>
    <a class="unans filterButton buttonNew btn-1 btn-1a" data-filter="Unanswered" role="button">Unanswered</a>
    <a class="ans filterButton buttonNew btn-1 btn-1a" data-filter="Answered" role="button">Answered</a>

</div>

<div class="container body-content mainparent">

    @for (int i = 0, p = 0; i < Model[0].questionCount.Count; i++)
    {
        //q += Model[0].questionCount[i];
        //if (Model[0].questionCount[i] > 1)
        //{

        //    int hold = Model[0].questionCount[p];
        //    p += hold - 1;
        //}


        if (@Model[0].qrvmodel[p].Status == "Approved" || (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
        {

            @Html.Raw("<div class='cd-timeline__container")

            if (Model[0].qrvmodel[p].Status == "Approved")
            {
                @Html.Raw(" approved")
            }
            else if (Model[0].qrvmodel[p].Status == "Rejected")
            {
                @Html.Raw(" rejected")
            }
            else
            {
                @Html.Raw(" unmoderated")
            }

            if (Model[0].qrvmodel[p].IsAnswered)
            {
                @Html.Raw(" answered")
            }
            else
            {
                @Html.Raw(" unanswered")
            }
            @Html.Raw("'>")
            <div class="cd-timeline__block js-cd-block">
                <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                    <img src="../Content/question.svg" alt="Question">
                </div>

                @if ((@Model[0].qrvmodel[p].Status == "Approved") && (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
                {
                    @Html.Raw("<div class='cd-timeline__content-approved cd-timeline__content js-cd-content'>")
                }
                else if ((@Model[0].qrvmodel[p].Status == "Rejected") && (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
                {
                    @Html.Raw("<div class='cd-timeline__content-rejected cd-timeline__content js-cd-content'>")
                }
                else if ((@Model[0].qrvmodel[p].Status == "Submitted") && (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
                {
                    @Html.Raw("<div class='cd-timeline__content-submitted cd-timeline__content js-cd-content'>")
                }
                else
                {
                    @Html.Raw("<div class='cd-timeline__content js-cd-content'>")
                }

                <p class="innertext">
                    @Model[0].qrvmodel[p].QuestionText
                </p>

                <span class="cd-timeline__date">@GetPrettyDate(@Model[0].qrvmodel[p].TimeAsked)</span>

                @if (@User.IsInRole("Leader") || @User.IsInRole("SuperAdmin"))
                {
                <form action="~/Home/SaveReply" method="POST">
                   
                    <div class="group">
                        <input type="text" name="replyText" style="width:100%;" required>
                        <span class="highlight"></span>
                        <span class="bar" style="width:100%;" ></span>
                        <label>Enter your reply here</label>
                    </div>

                    <input type="hidden" name="fk_QuestionId" value="@Model[0].qrvmodel[p].QuestionId" />
                    <input type="hidden" name="fk_LeaderId" value="@User.Identity.GetUserId()" />
                    <button type="submit" class="formButton submit buttonNew btn-1 btn-1a" value="Submit">SUBMIT REPLY</button>
                </form>
                }
                @if (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin"))
                {
                    <form action="~/Home/AcceptQuestion" class="buttons" method="POST">
                        <input type="hidden" name="fk_QuestionId" value="@Model[0].qrvmodel[p].QuestionId" />
                        <input type="hidden" name="IsApproved" value="True" />
                        <button type="submit" class="formButton approve buttonNew btn-1 btn-1a" value="Submit">APPROVE</button>
                    </form>
                }
                @if (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin"))
                {
                    <form action="~/Home/RejectQuestion" class="buttons" method="POST">
                        <input type="hidden" name="fk_QuestionId" value="@Model[0].qrvmodel[p].QuestionId" />
                        <input type="hidden" name="IsApproved" value="False" />
                        <button type="submit" class="formButton reject buttonNew btn-1 btn-1a" value="Submit">REJECT</button>
                    </form>
                }
                @if ((@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")) && @Model[0].qrvmodel[p].Status != "Approved")
                {
                    <div style="position:relative;clear: both;">
                        <form action="~/Home/EditQuestion" class="editForm" method="POST">
                            <input type="hidden" name="questionId" value="@Model[0].qrvmodel[p].QuestionId" />
                            <input type="hidden" name="IsApproved" value="True" />
                            <input type="hidden" name="user" value="@User.Identity.Name" />
                            <input type="hidden" name="oldText" value="@Model[0].qrvmodel[p].QuestionText" />
                            <br />

                            <div class="group">
                                <input type="text" class="edittextareas" value="@Model[0].qrvmodel[p].QuestionText" name="editText" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label>Question Text</label>
                            </div>

                            <div class="group">
                                <input type="text" class="edittextareas" name="reason" required>
                                <span class="highlight"></span>
                                <span class="bar"></span>
                                <label><i>Enter edit reason</i></label>
                            </div>
                            <button type="submit" class="formButton approve buttonNew btn-1 btn-1a" style="float:unset" value="Submit">Edit and Approve</button>
                        </form>
                    </div>
                }
                <div id="blank"></div>
            </div>
            @Html.Raw("</div>")<!-- Question -->
            if (Model[0].qrvmodel[p].IsAnswered)
            {
                //int jHold=0;

                for (int j = Model[0].questionCount[i] - 1; j >= 0; j--)
                {
                    <div class="cd-timeline__block js-cd-block timeline-reply">

                        <div class="cd-timeline__img cd-timeline__img--movie js-cd-img reply-img" style="background-image:url(../Content/@Model[0].qrvmodel[p+j].Image)">

                        </div>

                        <div class="leadername">
                            @Model[0].qrvmodel[p + j].LeaderName
                        </div>
                        <div class="cd-timeline__content reply-frame">

                            <p class="innertext reply-align">
                                @Model[0].qrvmodel[p + j].ReplyText
                            </p>
                            <span class="cd-timeline__date reply-align"> @GetPrettyDate(Model[0].qrvmodel[p + j].TimeReplied)</span>
                        </div> <!-- cd-timeline__content -->
                    </div> <!-- Reply -->
                }
                //jHold += j;
                // i = i + Model[0].questionCount[i] - 1;
                // continue;

            }
            @Html.Raw("</div>")

        }

        if (Model[0].questionCount[i] == 0)
        {
            p++;
        }
        else
        {
            p = p + Model[0].questionCount[i];
        }

    }


</div>
<script type="text/javascript">

    @if(@User.IsInRole("Moderator"))
    {
        @: $(".approved").fadeOut();
        @: $(".rejected").fadeOut();
        @: $(".unmoderated").fadeIn();
        @: $(".unmod").addClass("active");
        @: $(".unmod").click();
    }
    else
    {
        @: $(".all").addClass("active");
    }
</script>
<div class="noquestions"><h1>No additional results found.</h1></div>
<div class="spacer" style="height:100px"></div>
<div class="footer topbar">

    <p class="welcometext footertext">Think you've found a bug? Contact Stephan (<a href="mailto:stephan.x.williams@pwc.com">stephan.x.williams@pwc.com</a>) or Daniel (<a href="mailto:daniel.y.callaghan@pwc.com">daniel.y.callaghan@pwc.com</a>) with details.</p>


</div>