@{
    /**/
    
    ViewBag.Title = "The Rumour Mill";
}
<div class="question-header">
    <h1>The Rumour Mill</h1>
    <br />@if (@User.Identity.IsAuthenticated)
                    {
                       <p>Hello @User.Identity.Name!</p> 
                    }
  <br/>
    Have a question you've heard that you think needs answered? Submit it here.
    <form action="~/Home/Save" method="POST">
        <textarea type="text" placeholder="Enter your question here" name="questionText"></textarea> <br />
        <button type="submit" class="buttonNew btn-1 btn-1a" value="Submit">SUBMIT</button>
    </form>
</div>

<div class="container body-content">
    @for(int i = 0; i < Model[0].qrvmodel.Count;i++)
    {

        <section class="cd-timeline js-cd-timeline">
            <div class="cd-timeline__container">
                <div class="cd-timeline__block js-cd-block">
                    <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                        <img src="../Content/question.svg" alt="Question">
                    </div>


                    <div class="cd-timeline__content js-cd-content">
                        <p class="innertext">
                            @Model[0].qrvmodel[i].QuestionText
                        </p>
                        @if (@User.Identity.Name == "Leader" || @User.Identity.Name == "SuperAdmin" )
                        {
                            <p>Reply</p>
                        }
                        @if (@User.Identity.Name == "Moderator" || @User.Identity.Name == "SuperAdmin") 
                        {
                            <p>Approve</p> <br />
                            <p>Reject</p>
                        }
                        <span class="cd-timeline__date">@Model[0].qrvmodel[i].TimeAsked</span>
                    </div>
                </div><!-- Question -->
                @if (Model[0].qrvmodel[i].IsAnswered)
                {
                    int jHold=0;
                    for (int j = 0; j < Model[0].questionCount[i]; j++)
                    {
                        <div class="cd-timeline__block js-cd-block timeline-reply">

                            <div class="cd-timeline__img cd-timeline__img--movie js-cd-img reply-img">
                                <img src="../Content/question.svg" alt="Question">

                            </div>

                            <div class="leadername">
                                @Model[0].qrvmodel[j].LeaderName
                            </div>
                            <div class="cd-timeline__content reply-frame">

                                <p class="innertext reply-align">
                                    @Model[0].qrvmodel[j].ReplyText
                                </p>
                                <span class="cd-timeline__date reply-align">@Model[0].qrvmodel[i].TimeReplied</span>

                            </div> <!-- cd-timeline__content -->

                        </div> <!-- Reply -->
                        jHold = j;
                    }
                    i = i + jHold;
                }
            </div>
        </section> <!-- cd-timeline -->
    }
</div>
    @*

              @Model[i].QuestionText

            <div class="container">

            {
            <div class="q-container">
                <div class="question">

                </div>
            </div>
            }


            <table class="table table-hover">


                    <thead>
                        <tr>
                            <th>Question ID</th>
                            <th>Question Text</th>
                            <th>Has Been Approved</th>
                            <th>Has Been Answered</th>
                            <th>Answered By</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (var i = Model.Count - 1; i >= 0; i--)
                        {
                            <tr>
                                <td>@Model[i].QuestionId</td>
                                <td>@Model[i].QuestionText</td>
                                <td>@Model[i].IsApproved</td>
                                <td>@Model[i].IsAnswered</td>
                                <td>@Model[i].AnsweredBy</td>
                            </tr>
                        }
                    </tbody>
                </table>
        </div>*@
