

@{


    ViewBag.Title = "The Rumour Mill";



}

<div class="jumbotron">
    <h1>The Rumour Mill</h1>
    <p class="lead">Have a question you've heard that you think needs answered? Submit it here</p>
</div>
<h2>Add your question</h2>

<form action="~/Home/Save" method="POST">
 <input type="text" name="questionText">
 <input type="hidden" name="isApproved" value="false" />
 <input type="hidden" name="isAnswered" value="false" />
 <input type="hidden" name="answeredBy" value="" />
 <input type="submit" value="Submit Question for real">
</form>


<h2>Questions</h2>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Question ID</th>
                <th>Question Text</th>
                <th>Has Been Approved</th>
                <th>Has Been Answered</th>
                <th>Answered By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var q in Model)
            {
                <tr>
                    <td>@q.QuestionId</td>
                    <td>@q.QuestionText</td>
                    <td>@q.IsApproved</td>
                    <td>@q.IsAnswered</td>
                    <td>@q.AnsweredBy</td>
                </tr>
            }
        </tbody>
    </table>
</div>
