@{
    /**/

    ViewBag.Title = "The Rumour Mill";
}
@using Microsoft.AspNet.Identity

<div class="topbar">
    @if (@User.Identity.IsAuthenticated)
    {
        <p class="welcometext">Welcome, <span class="name">@User.Identity.Name </span> &#124 <a href="/Home/Logout">Logout</a></p>

    }
    @if (!@User.Identity.IsAuthenticated)
    {
        <div class="welcometext">
            <a href="/Home/Login">Login</a>
        </div>
    }

</div>
<div class="question-header">

    <h1>The Rumour Mill</h1>

    <br />
    Have a question you've heard that you think needs answered? Submit it here.
    <form action="~/Home/Save" method="POST">
        <textarea type="text" placeholder="Enter your question here" name="questionText"></textarea> <br />
        <button type="submit" class="buttonNew btn-1 btn-1a" value="Submit">SUBMIT</button>
    </form>
</div>

<div class="container body-content">
    
    @for (int i = 0, p = 0; i < Model[0].questionCount.Count; i++)
    {
        //q += Model[0].questionCount[i];
        //if (Model[0].questionCount[i] > 1)
        //{

        //    int hold = Model[0].questionCount[p];
        //    p += hold - 1;
        //}


        if (@Model[0].qrvmodel[p].Status == "Approved" || (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
        {
            <section class="cd-timeline js-cd-timeline">
                <div class="cd-timeline__container">
                    <div class="cd-timeline__block js-cd-block">
                        <div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
                            <img src="../Content/question.svg" alt="Question">
                        </div>

                        @if ((@Model[0].qrvmodel[p].Status == "Approved") && (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
                        {
                            @Html.Raw("<div class='cd-timeline__content-approved cd-timeline__content js-cd-content'>")
                        }
                        else if ((@Model[0].qrvmodel[p].Status == "Rejected") && (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
                        {
                            @Html.Raw("<div class='cd-timeline__content-rejected cd-timeline__content js-cd-content'>")
                        }
                        else if ((@Model[0].qrvmodel[p].Status == "Submitted") && (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin")))
                        {
                            @Html.Raw("<div class='cd-timeline__content-submitted cd-timeline__content js-cd-content'>")
                        }
                        else
                        {
                            @Html.Raw("<div class='cd-timeline__content js-cd-content'>")
                        }

                        <p class="innertext">
                            @Model[0].qrvmodel[p].QuestionText
                        </p>

                        <span class="cd-timeline__date">@Model[0].qrvmodel[p].TimeAsked</span>

                        @if (@User.IsInRole("Leader") || @User.IsInRole("SuperAdmin"))
                        {
                            <form action="~/Home/SaveReply" method="POST">
                                <textarea type="text" placeholder="Enter your reply here" class="replyTextArea" name="replyText"></textarea> <br />
                                <input type="hidden" name="fk_QuestionId" value="@Model[0].qrvmodel[p].QuestionId" />
                                <input type="hidden" name="fk_LeaderId" value="@User.Identity.GetUserId()" />
                                <button type="submit" class="submit buttonNew btn-1 btn-1a" value="Submit">SUBMIT REPLY</button>
                            </form>
                        }
                        @if (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin"))
                        {
                            <form action="~/Home/AcceptQuestion" class="buttons" method="POST">
                                <input type="hidden" name="fk_QuestionId" value="@Model[0].qrvmodel[p].QuestionId" />
                                <input type="hidden" name="IsApproved" value="True" />
                                <button type="submit" class="approve buttonNew btn-1 btn-1a" value="Submit">APPROVE</button>
                            </form>
                        }
                        @if (@User.IsInRole("Moderator") || @User.IsInRole("SuperAdmin"))
                        {
                            <form action="~/Home/RejectQuestion" class="buttons" method="POST">
                                <input type="hidden" name="fk_QuestionId" value="@Model[0].qrvmodel[p].QuestionId" />
                                <input type="hidden" name="IsApproved" value="False" />
                                <button type="submit" class="reject buttonNew btn-1 btn-1a" value="Submit">REJECT</button>
                            </form>
                        }
                        <div id="blank"></div>
                    </div>
                @Html.Raw("</div>")<!-- Question -->
                @if (Model[0].qrvmodel[p].IsAnswered)
                {
                    //int jHold=0;

                    for (int j = Model[0].questionCount[i]-1; j >= 0; j--)
                    {
                        <div class="cd-timeline__block js-cd-block timeline-reply">

                            <div class="cd-timeline__img cd-timeline__img--movie js-cd-img reply-img">
                                <img src="../Content/question.svg" alt="Question">

                            </div>

                            <div class="leadername">
                                @Model[0].qrvmodel[p + j].LeaderName
                            </div>
                            <div class="cd-timeline__content reply-frame">

                                <p class="innertext reply-align">
                                    @Model[0].qrvmodel[p + j].ReplyText
                                </p>
                                <span class="cd-timeline__date reply-align">@Model[0].qrvmodel[p + j].TimeReplied</span>
                            </div> <!-- cd-timeline__content -->
                        </div> <!-- Reply -->
                    }
                    //jHold += j;
                    // i = i + Model[0].questionCount[i] - 1;
                    // continue;

                }
        </div>
        </section> <!-- cd-timeline -->

        }

        if(Model[0].questionCount[i]==0)
        {
            p++;
        }
        else
        {
            p = p + Model[0].questionCount[i];
        }

    }
</div>
