﻿@model RumourMill.Models.Leader

@{
    ViewBag.Title = "Login";
}
@Html.ValidationSummary(true)
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        #login-div {
            border: 1px solid #ccc;
            padding: 40px 40px;
        }
        #field-validation-error {
            color: red;
        }
    </style>
</head>
<body class="loginPage">
        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            
                    <font size="4">Login</font>
                        @Html.LabelFor(model => model.UserName)
                        @Html.EditorFor(model => model.UserName)
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password)
                        
                        <label class="field-validation-error">@Html.DisplayFor(model => model.ErrorMessage)</label>
                        <input type="submit" class="btn btn-info" name="name" value="Login" />
                  
                  
        }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</body>
</html>

